[Unit]
Description=System stats for Framework laptop LED hardware

[Service]
Type=notify-reload
Environment=FW_CONFIG_PATH=%E/fw-systemstats/config.toml
ExecStart=/usr/local/bin/fw-systemstats

[Install]
WantedBy=multi-user.target
